

<nav>
  <span><a href="/">Story Creator</a></span>

  <!-- <span>
    <button href="/login">Login User</button>
    <button href="/login">Login User2</button>
  </span> -->

  <button class="stories-list" type="button">My Stories</div>

</nav>


 <!-- <nav>
      <span><a href="/">Story Creator</a></span>
      <span class="logged-in">Logged in as: User1</span>
      <button class="stories-list" type="button">My Stories</div>
    </nav> -->
