<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>

    <%- include('partials/_nav') %>

    <main>

      <section class="filterOptions">
      <form action="/stories" >
        <span>
        <label for="filter-search">Filter by User:</label>
        <textarea name="filterUser" placeholder="Search"></textarea>
        <label for="filter-search">Filter by Keyword:</label>
        <textarea name="filterKeyword" placeholder="Search"></textarea>
        </span>
        <span>
        <input type="checkbox" id="filter1" name="mostLiked" value="By Likes">
        <label for="filter1">Ordered by likes</label><br>
        <input type="checkbox" id="filter2" name="orderAdded" value="By Order Added">
        <label for="filter2">Ordered by Creation</label><br>
        <input type="radio" id="filter3" name="completed" value="Completed">
        <label for="filter3">Show only Completed Stories</label><br>
        <input type="radio" id="filter4" name="incompleted" value="Not-completed">
        <label for="filter3">Show only Incomplete Stories</label><br>
      </span>
        <button type="submit">Apply Filters</button>
      </form>
    </section>


<!-- TEST CODE FROM w3 schools for radio buttons -->

    <!-- <style>
      #uncheck>input { display: none }
      input:checked + label { display: none }
      input:not(:checked) + label + label{ display: none }
   </style>

   <div id='uncheck'>
     <input type="radio" name='food' id="box1" />
     Pizza
       <label for='box1'>&#9678;</label>
       <label for='box0'>&#9673;</label>
     <input type="radio" name='food' id="box2" />
     Ice cream
       <label for='box2'>&#9678;</label>
       <label for='box0'>&#9673;</label>
     <input type="radio" name='food' id="box0" checked />
   </div> -->



      <!-- sort completed/incomplete,
      order added
      search user
      search for <keyword
        most liked -->

      <section class="data">
        <% for(const datum of data) { %>
          <article class="card full">
            <div class="card-header"><span><%= datum.story_title %></span><span>By: <%= datum.name %></span></div>
            <div class="thumbnails"><img src="../public/docs/unsplash01.jpg"></div>
            <div class="story"><%= datum.story_beginning %></div>
          </article>
        <% } %>
      </section>

    </main>
  </body>
</html>
