<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>

    <%- include('partials/_nav') %>

    <main>

      <section class="filterOptions">
      <form action="/stories" >
        <span>
        <label for="filter-search">Filter by Keyword:</label>
        <textarea name="filterUser" placeholder="Search"></textarea>
        <label for="filter-search">Filter by Keyword:</label>
        <textarea name="filterKeyword" placeholder="Search"></textarea>
        </span>
        <span>
        <input type="checkbox" id="filter1" name="mostLiked" value="By Likes">
        <label for="filter1">Ordered by likes</label><br>
        <input type="checkbox" id="filter2" name="orderAdded" value="By Order Added">
        <label for="filter2">Ordered by Creation</label><br>
        <input type="checkbox" id="filter3" name="completed" value="Completed">
        <label for="filter3">Ordered by Completed Stories</label><br>
        <input type="checkbox" id="filter4" name="incompleted" value="Not-completed">
        <label for="filter3">Ordered Incomplete Stories</label><br>
      </span>
        <button type="submit">Apply Filters</button>
      </form>
    </section>
      <!-- sort completed/incomplete,
      order added
      search user
      search for <keyword
        most liked -->

      <section class="data">
        <% for(const datum of data) { %>
          <p>worked</p>
        <% } %>
      </section>

    </main>
  </body>
</html>
