<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/indexload.js"></script>
    <script type="text/javascript" src="/scripts/indexbuttons.js"></script>
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>
    <!-- <nav>
      <span><a href="/">Story Creator</a></span>
      <span class="logged-in">Logged in as: User1</span>
      <button class="stories-list" type="button">My Stories</div>
    </nav> -->

    <%- include('partials/_nav') %>

    <header>
      <form action="/view/:id" method="POST">
        <label for="directions">Start a story</label>
        <textarea name="title" id="title-start" class="enteredToStory" placeholder="Title of Your Story"></textarea>
        <textarea name="story" id="story-start" class="enteredToStory" placeholder="Once upon a time..."></textarea>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </header>

    <main>

      <div><a href="./filtered-stories">Continue Incomplete Stories</a></div>
      <section class="incomplete-stories">
        <!-- <div><a href="./incomplete-stories">Continue Incomplete Stories</a></div> -->
        <!-- <% for(const story of stories) {%>
          <article class="card part">
            <div class="card-header"><span><%=story.story_title%></span><span>By: User</span></div>
            <div class="thumbnails"><img src="../public/docs/unsplash01.jpg"></div>
            <div class="story"></div>
            <footer class="upvotes"><button>Contribute</button><button>Upvotes: +4</button></footer>
          </article>
        <% } %> -->

        <article class="card part">
          <div class="card-header"><span>TITLE</span><span>By: User</span></div>
          <div class="thumbnails"><img src="../public/docs/unsplash01.jpg"></div>
          <div class="story">Some guy named Jim once walked across the known world doing crazy stuff. He once took an arrow to the...</div>
          <footer class="upvotes"><button>Contribute</button><button>Upvotes: +4</button></footer>
        </article>

      </section>
      <div><a href="./completed-stories">Read Completed Stories</a></div>
      <section class="completed">

<!--
        <article class="card full">
          <div class="card-header"><span>TITLE</span><span>By: User</span></div>
          <div class="thumbnails"><img src="../public/docs/unsplash01.jpg"></div>
          <div class="story">Some guy named Jim once walked across the known world doing crazy stuff. He once took an arrow to the...</div>
          <footer class="upvotes"><button>Upvotes: +4</button></footer>
        </article> -->
      </section>




    </main>
  </body>
</html>
