<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/indexload.js"></script>
    <!-- <script type="text/javascript" src="/scripts/indexbuttons.js"></script> -->
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>
    <!-- <nav>
      <span><a href="/">Story Creator</a></span>
      <span class="logged-in">Logged in as: User1</span>
      <button class="stories-list" type="button">My Stories</div>
    </nav> -->

    <%- include('partials/_nav') %>

    <header>
      <form action="/new/story" method="POST">
        <label for="directions">Start a story</label>
        <textarea name="title" id="title-start" class="enteredToStory" placeholder="Title of Your Story"></textarea>
        <textarea name="story" id="story-start" class="enteredToStory" placeholder="Once upon a time..."></textarea>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </header>

    <main>

      <div>Click a story below if you want to read more or contribute!</div>
      <section class="incomplete-stories grid">


      </section>
      <div><a href="stories">Click here to see all stories</a></div>
      <div class="section-title">Click a completed story below to explore!</div>
      <section class="completed">


      </section>




    </main>
  </body>
</html>
