<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/viewload.js"></script>
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>

    <%- include('partials/_nav') %>

    <main>


      <section class="card full contributions">
        <article class="card full">
          <div class="card-header"><span>By: User</span></div>
          <div class="story">We continued to get lots and lots of chips.</div>
          <footer class="upvotes"><button>Accept Contribution</button><button>Upvotes: +4</button></footer>
        </article>



      </section>

        <section class="card full add">
        <form action="/stories/<%= %>/contribute" method="POST">
          <label for="directions">Add to a Story:</label>
          <textarea name="contribution" id="contribution" class="addedToStory" placeholder="What happens next.."></textarea>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>

    </main>
  </body>
</html>
