
section {
//  background-color: brown;
 .card {
   background-color: $card-color;
  //  color: $snow;
   height: 20rem;
   border-radius: 7px;
 }

 .part {
   margin: 5px;
   padding: 2%;
  //  height: 10rem;
  width: 100%;

 }
 .full {
  padding: 2%;
  margin: 10px;
 }

 .add {
   width: auto;
 }

 .contributions {
   background-color: $contribution-color;
 }
}

article {
  transition: all 500ms;
}

article:hover {
  transform: scale(1.05);
}

.card-header, .upvotes {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-family: 'Asul', sans-serif;
  font-size: bold;
}

.incomplete-stories {
  display: flex;
  width: 100%;
  // margin: 5px;
  justify-content: space-between;

}

.completed {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: 5px;

}

.filterOptions {
  display: flex;
  // flex-direction: column;
  width: 100%;
  font-size: 14px;


  form {
    :first-child {
      flex-direction: column;
    }
  }

}



