$primary-color: #d5ddf3;
$secondary-color: #f3d5dd;
$secondary-color2: #f3d5ec;
$secondary-color3: #d5f3eb;
$secondary-color4: #ddf3d5;

/* SCSS HEX */
$timberwolf: #cfdbd5ff;
$alabaster: #e8eddfff;
$maize-crayola: #f5cb5cff;
$eerie-black: #242423ff;
$jet: #333533ff;

/* SCSS HEX */
$light-gray: #d3d4d9ff;
$blue-munsell: #4b88a2ff;
$firebrick: #bb0a21ff;
$raisin-black: #252627ff;
$snow: #fff9fbff;


$card-color: #ADC6DC;
