$primary-color: #d5ddf3;
$secondary-color: #f3d5dd;
$secondary-color2: #f3d5ec;
$secondary-color3: #d5f3eb;
$secondary-color4: #ddf3d5;

/* SCSS HEX */
$timberwolf: #cfdbd5ff;
$alabaster: #e8eddfff;
$maize-crayola: #f5cb5cff;
$eerie-black: #242423ff;
$jet: #333533ff;

/* SCSS HEX */
$light-gray: #d3d4d9ff;
$blue-munsell: #4b88a2ff;
$firebrick: #bb0a21ff;
$raisin-black: #252627ff;
$snow: #fff9fbff;


$card-color: #ADC6DC;
$card-colort: #adc6dc7c;
$button-color: #84B082;

$contribution-color: $secondary-color3;

$imgURL: url("https://pixabay.com/get/g3c971d68d4ef02c89adfec8aa3fd23b616531bcf66493744f228f1d6c08e85826c17478bff9610ed15808baf91ec0698_640.png");

$imgURL2: url("https://pixabay.com/get/g1c95594c432600e0ac3d8b3fd7bd8df9875e05e18b2d2ae025ce2920c4d097c6b26080562b4784ad71e8e1fd1e0dc293_640.jpg");
