form {
  background-color: $card-color;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  border-radius: 5px;
  padding: 1%;

  // width: 80%;
  max-width: 800px;

  #title-start {
    width: 50%;
  }
  #story-start {
    width: 100%;
    min-height: 6rem;
  }
  #contribution {
      min-width: 600px;

  }

  @media only screen and (max-width: 750px) {
    span {
      display: flex;
      flex-direction: column;

    }
    span:last-child {
      flex-direction: row;
    }
  }
}

form:hover {
    background: linear-gradient(90deg, #000046, #1cb5e0);
}

form div {
  font-family: 'Bungee', sans-serif;
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-content: space-between;
}

textarea {
  background: none;
  background-color: $snow;
  border: 0;
  border-radius: 6px;
  border-bottom: 2px solid black;
}

textarea:focus {
  // border-style: none;
  outline: none;
}
