nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  background-color: $blue-munsell;
  color: #ffffff;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  z-index: 1;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
