

// See: https://sass-lang.com/
// $font-stack:    Helvetica, sans-serif;
@import "./colours";
@import "./nav";
@import "./header";
@import "./cards";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Quattrocento&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: $snow;
  // font-family: sans-serif;
  // font-family: 'Asul', sans-serif;
  // font-family: 'Libre Baskerville', sans-serif;
  // font-family: 'Asul', sans-serif;
  font-family: 'Quattrocento', serif;
  font-size: 24px;
}

header {
  transform: translateY(120px);
}

main {
  // font-family: 'Libre Baskerville', sans-serif;
  // font-family: 'Asul', sans-serif;
  transform: translateY(120px);
  display: flex;
  flex-direction: column;
  width: 97%;
  max-width: 1100px;
  margin: auto;
  align-items: center;
}

div {
  a:link, a:visited {
    // background-color: #f44336;
    // color: white;
    padding: 14px 21px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: $blue-munsell;
  }
}

button {
  background-color: #042A2B;
  color: antiquewhite;
  border-style: none;
  border-radius: 5px;
  padding: 9px;
  margin: 3px 0;
  transition: all 500ms;
}

button:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.storyID {
  display: none;
}

footer {
  margin-top: auto;
  // align-self: stretch;
}


//testing/temp code
// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }
